node_modules/

components/*/src/
components/*/__tests__/
editor-components/*/src/
editor-components/*/__tests__/
utilities/*/src/
utilities/*/__tests__/
capabilities/*/src/
capabilities/*/__tests__/
websites/*/src/
websites/*/__tests__/



package-lock.json

lerna-debug.log
npm-debug.log
